@font-face {
  font-family: Prototype;
  src: url(assets/Prototype.ttf);
}

@font-face {
  font-family: Grotesk;
  src: url(assets/GroteskLight.otf);
}

html, body{
	height: 100%;
	min-height: 100%;
}

.bg-image{
	position: absolute;
	left: 0 ;
	top: 100px;
	background-image: url(assets/abstract-black.jpg);
	background-color: green;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 560px;
	width: 100%;

	filter: blur(4px);
	-webkit-filter: blur(4px);
}

.navbar{
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom:50px;
}

.footer{
	width: 100%;
	height: 150px;
	left: 0;
	position: absolute;
}

.tilt{
	background-color: #17182D;
	width: 100%;
	height: 250px;
	position: relative;
	overflow: hidden;
	left: 0;
}

.top{
	top: -40px;

	clip-path: polygon(
	0 0,
	100% 0,
	100% 100%,
	0 calc(100% - 5vw));
}

.bot{
	clip-path: polygon(
	0 calc(100% - 5vw),
	100% 0,
	100% 100%,
	0 100%
	);
}

.navbar table{
	width: 100%;
	min-width: 1000px;
	max-width: 1800px;
	height: 15px;
	position: absolute;
	top: 25px;
	text-align: center;
	right: 25px;
	color: #fff;
}

.navbar-table td{
	font-family: Grotesk;
	font-size: 18pt;
	width: 10%;
}

.navbar-table td:first-child{
	font-family: Prototype;
	font-size: 40pt;
	width: 60%;
}

.navbar-table tr td:not(:first-child):hover{
	color: #548c5c;
	cursor: pointer;
}

.border-button{
	border: double 2px transparent;
	border-radius: 50px;
	background-image: linear-gradient(#17182D, #17182D), radial-gradient(circle at top left, #095c26, #0c6d3a, #0e7f50, #109166, #12a37d);
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.gray-stripe{
	background-color: #eee; 
	width: 100%; 
	height: 100px; 
	position: absolute; 
	left: 0; 
	top: 650px;
}

.content{
	width: 100%;
	position: absolute;
	left: 0;
	top: 750px;
}

.main-text{
	width: 70%;
	min-width: 550px;
	height: 550px;
	position: absolute;
	left: 30%;
	pointer-events: none;
}

.main-text h1:first-child{
	position: absolute;
	top: 250px;
	font-family: Prototype;
	font-size: 55pt;
	color: #fff;
}

.main-text h1:last-child{
	position: absolute;
	top: 360px;
	font-family: Grotesk;
	font-size: 24pt;
	color: #fff;
}

.faq-navbar{
	margin: 0 auto; 
	margin-top: 30px; 
	width: 25%;
}

.faq-navbar tr td{
	color: #000;
	text-align: center;
	font-family: Grotesk;
	font-size: 13pt;
	border: solid 1px #bbb;
	border-radius: 5px;
	padding: 10px;
	background-color: white;
	cursor: pointer;
}

.active{
	background-image: linear-gradient(to right, #095c26, #0c6d3a, #0e7f50, #109166, #12a37d);
	color: #fff !important;
}

.footer-table{
	margin: 0 auto; 
	position: relative; 
	margin-top: 200px;
}

td img{
	width: 16px;
	padding: 10px;
}

.footer-table tr td{
	color: #fff;
	font-family: Grotesk;
	font-size: 12pt;
}

.footer-table tr td:first-child{
	padding-right: 140px
}

.footer-table tr td:last-child{
	padding-left: 140px;
}

.spacer{
	width: 100%;
	height: 150px;
}

.question{
	background-color: #fff;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 15px;
	height: 62px;
	border: 2px #eee solid;
	border-radius: 10px;
	margin-bottom: 10px;
}

.question h1{
	font-family: Grotesk;
	font-weight: 1000;
	font-size: 25pt;
	margin: 10px;
	display: inline-block;
}

.arrow{
	height: 61px;
	width: 61px;
	float: right;
	background-image: url('./assets/down-arrow.png');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 2px;
	border-left: 1px #eee solid;
	cursor: pointer;
}

.answer{
	background-color: #fff;
	position: relative;
	height: 81%;
	margin: 5px;
	padding: 2px;
	visibility: hidden;
}

.answer p{
	font-family: Grotesk;
	font-size: 15pt;
}